In [3]:
""" Q1: 
Here's an example of creating a variable for each data type """
my_string = "Hello, Multiverse!"
my_list = [1, 3, 5, 3.14, True, "urban", 6 + 8j]
my_float = 3.14
my_tuple = (2, 4, 6, 6.28, False, "town", 7 + 5j)

In [4]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [9]:
type(var1) #type function to determine the datatype of var1

str

In [10]:
type(var2) #type function to determine the datatype of var2

str

In [11]:
type(var3) #type function to determine the datatype of var3

list

In [12]:
type(var4) #type function to determine the datatype of var4

int

In [14]:
print (20/3) #an example of division operator

6.666666666666667

In [15]:
print (20%3) #an example of reminder operator

2

In [16]:
print(20//3) #an example of floor division

6

In [17]:
print(20**3) #an example of power operator

8000

In [20]:
""" Answer to question 4 is as follows. It entails a list containing 10 multiple types of data. 
The following logic implements 'for loop' to print the element and its data type."""
my_list1 = ["apple", 3.14, 42, True, [1, 2, 3], {"name": "Anviksha", "age": 88}, ("a", "b", "c"), None, "banana", 99.9]
for i in my_list1 :
    print(i, type(i))

apple <class 'str'>
3.14 <class 'float'>
42 <class 'int'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'Anviksha', 'age': 88} <class 'dict'>
('a', 'b', 'c') <class 'tuple'>
None <class 'NoneType'>
banana <class 'str'>
99.9 <class 'float'>

In [51]:
""" Question 5 logic implementation is as follows."""
A = 72 #random integer stored in variable A
B = 3   #random integer stored in variable B
divisions = 0
original_A = A
while A % B == 0:
    A = A // B
    divisions += 1
    
if divisions > 0:
    print (f"{original_A} is purely divisible by {B} {divisions} times.")
else:
    print(f"{original_A} is not purely divisible by {B}.")

72 is purely divisible by 3 2 times.

In [55]:
"""Question 6 logic implementation is as follows."""
my_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in my_list2:
    if (i % 3 == 0):
        print (f"{i} is divisible by 3")
    else:
        print(f"{i} is indivisible by 3")

1 is indivisible by 3
2 is indivisible by 3
3 is divisible by 3
4 is indivisible by 3
5 is indivisible by 3
6 is divisible by 3
7 is indivisible by 3
8 is indivisible by 3
9 is divisible by 3
10 is indivisible by 3
11 is indivisible by 3
12 is divisible by 3
13 is indivisible by 3
14 is indivisible by 3
15 is divisible by 3
16 is indivisible by 3
17 is indivisible by 3
18 is divisible by 3
19 is indivisible by 3
20 is indivisible by 3
21 is divisible by 3
22 is indivisible by 3
23 is indivisible by 3
24 is divisible by 3
25 is indivisible by 3

In [58]:
"""Question 7"""
my_list3 = ["orange", 2, 3.14, True, 8 + 5j]
my_list3[2] = False #modifying the particular index for a list datatype suggests its mutability.

In [57]:
my_list3

['orange', 2, False, True, (8+5j)]

In [59]:
z = "Pythagoras"
z[2] = 'b' #an attempt to change the 3rd index of a string datatype (i.e 't') is unsuccessful and consequently it can be inferred that string is immutable.

TypeError: 'str' object does not support item assignment